@{
    ViewData["Title"] = "SC Nova Simple Perf Tests";
}

<div class="row">
   <div class="col-md-3">
        <h2>Stock tests</h2>
        <ul>
            <li><a href="/stock/pooulate">Populate</a></li>
            <li><a href="/stock/count">Count</a></li>
            <li><a href="/stock/top">Top</a></li>
        </ul>
    </div>
</div>
